[2013-03-09 03:51] mkhayes opened #2 "Test issue question."
What do the labels duplicate, invalid, and wontfix mean (for issues)?

[2013-03-09 03:53] patricktoohey commented on #2
Sound like bug categories.

Duplicate: bug already defined

Invalid: submitter is confused

Won’t Fix: valid bug, but not important

From: mkhayes
Sent: ‎March‎ ‎8‎, ‎2013 ‎10‎:‎51‎ ‎PM
To: 480Oswego2013/CSC-HCI-480-2013-repo
Subject: [CSC-HCI-480-2013-repo] Test issue question. (#2)

What do the labels duplicate, invalid, and wontfix mean?

—
Reply to this email directly or view it on GitHub.

[2013-03-09 16:39] #2 closed, assigned to nobody

[2013-03-15 04:46] mkhayes opened #3 "RFParameter sanity handling."
We need a good way to notify the user when they have entered invalid parameters. H2O will return an error when it receives a bad parameter. Some parameters such as number of trees are easy enough to check ahead of time... it needs to be an integer. Should we attempt checks when the user presses submit and then label invalid fields (put a red x or something similar)? Since H2O returns error informa

[2013-03-15 10:53] kevinwinahradsky commented on #3
I would say that when you do your onSubmit, do not hide the display until you get the async response back from the server. So here, [RfParametersViewImpl.java#L72](https://github.com/480Oswego2013/CSC-HCI-480-2013-repo/blob/166da9d663d386fd94baf49c3a605c9f1d7c0917/src/edu/oswego/csc480_hci521_2013/client/ui/RfParametersViewImpl.java#L72), do a call back into the presenter rather than fire the even

[2013-03-15 19:31] patricktoohey commented on #3
I think we should validate the parameters before we communicate with the server. Additionally, we need to be prepared for errors from H2O, but we should not waste a trip to the server if the parameters are known to be invalid. That kind of logic belongs in the presenter. Effectively, the "Submit" button should be invalid until the parameters are correct. The button should either be disabled (greye

[2013-03-15 19:34] mkhayes opened #4 "Confusion matrix using incorrect response variable on RFParams branch."
To produce this bug use the cars data set. Click "Parsed Data Set" and select the parsed data set. Click "Generate Forest" and choose Classification Variable = "cylinders", number of trees = 10 (I don't think number of trees is relevant). Press generate model. The confusion matrix is displayed with the incorrect response variable (says variable 7 which is year when cylinders is variable 2) , creat

[2013-03-15 19:57] kevinwinahradsky commented on #4
Is this a bug in our code or a bug in h2o code?

[2013-03-15 20:01] mkhayes commented on #4
I don't know I haven't looked into it.

[2013-03-15 20:03] kevinwinahradsky commented on #4
Ok, i will dig into it later.

[2013-03-16 13:01] kevinwinahradsky commented on #4
This should be fixed on your branch now. 7d3eff80798315906a82deaad807ff40f5334650

[2013-03-16 14:16] mkhayes commented on #4
Appears to be fixed, thanks Kevin!

[2013-03-16 14:16] #4 closed, assigned to kevinwinahradsky

[2013-03-16 14:57] mkhayes opened #5 "Close tab feature."
It would be nice if we could close tabs. I think a simple "x" button on the right side of the tab will do. This might be a good task for someone who hasn't done any GWT programming yet.

[2013-03-16 15:02] ibarnick commented on #5
Some of this functionality has been implemented on the GWT branch. The development is still ongoing though so it hasn't been merged over yet.

[2013-03-16 19:12] kevinwinahradsky opened #6 "initial hViewO branding"
The main page title should be changed from "Web Application Starter Project" to "hViewO". The build scripts should be changed to build war files with a base name of hViewO.

[2013-04-03 10:45] kevinwinahradsky opened #7 "Popout button formatting"
The popout button needs to be better formatted in some way. Currently it overflows its container.

[2013-04-03 10:45] kevinwinahradsky commented on #7
Possibly just wrapping this in a horizontal panel would work best?

[2013-04-03 10:48] kevinwinahradsky opened #8 "Uibinder: Tree vis panel redraw issue"
When the tree vis panel is first shown the tree tends to not be drawn. Resizing the window will then cause it to be shown. So it appears everything is working except that there needs to be some sort of "repaint" done after the tree has been rendered to force it to show up correctly

[2013-04-03 10:51] kevinwinahradsky opened #9 "Popout data panel menu bar"
The menu bar on the popped out data panel should be removed or hidden.

[2013-04-03 10:56] kevinwinahradsky commented on #5
This should be pretty doable on the uibinder branch now

[2013-04-03 10:57] kevinwinahradsky commented on #6
We may want to skip the build script changes but the title bar change should be easy enough.

[2013-04-03 11:33] kevinwinahradsky opened #10 "Datagrid paging"
Right now the data grid in the data tab may not be showing all the data. At most it can retrieve 1024 rows of data from h2o, I'm not sure if that is the default or if the default is lower than that.

The grid widget being used will support paging so it is something we need to have implemented for larger data sets.

[2013-04-03 11:35] kevinwinahradsky commented on #10
Adding this to the uibinder milestone. It is probably too much for that milestone but it should be given an initial look for a level of effort estimate.

[2013-04-03 11:37] kevinwinahradsky opened #11 "Datagrid column headers chopped off"
The column headers can be chopped off on the right hand side.

[2013-04-03 11:39] kevinwinahradsky commented on #11
Would it be too ugly to add side scrolling to this? Can the side scrolling be only when needed?

[2013-04-04 01:07] kevinwinahradsky opened #12 "GWT Compiler permutations"
Should we disable some of the javascript compiling? We probably don't need to support older IE versions.

[2013-04-04 01:14] #8 closed, assigned to kevinwinahradsky

[2013-04-04 02:00] kevinwinahradsky commented on #7
It looks better but is probably not done. This might be easier with small images instead of css.

unassigning myself if someone else wants to give it a shot.

[2013-04-04 02:05] patricktoohey commented on #11
Could do fixed width and ellipsis to shorten text which exceeds width, then show full text on hover.

[2013-04-04 02:57] patricktoohey commented on #6
Updated main.html and icon. Please review and close if complete.

[2013-04-04 10:17] kevinwinahradsky commented on #6
Looks good

[2013-04-04 10:17] #6 closed, assigned to kevinwinahradsky

[2013-04-06 03:37] patricktoohey commented on #11
Updated global css to address this issue. Please review and close if this is addressed sufficiently.

[2013-04-06 13:40] kevinwinahradsky commented on #11
It looks better but I'm not sure if it is a final solution. Is it possible to have the full name show in a tool tip or something?

[2013-04-06 13:41] kevinwinahradsky opened #13 "Merge prep - Review Request"
Working on merging our 3 active branches into one so we easily merge back into the master.
uibinder
h2oapi
build

[2013-04-06 14:12] kevinwinahradsky opened #14 "RF Parameters Popup Advanced Options"
Advanced Options should include most everything available in H2O. We should start with the ability to select variable weights.

[2013-04-06 14:21] kevinwinahradsky commented on #14
http://gwt.googleusercontent.com/samples/Showcase/Showcase.html#!CwDisclosurePanel

This would probably be good for the advanced options.

[2013-04-06 14:23] mkhayes opened #15 "RF Parameter - Variable Weights"
We need to add the ability to select variable weights to the RF parameters popup.

[2013-04-07 12:04] kevinwinahradsky opened #16 "More tabs than space"
GWT does not allow the wrapping of tabs or multiple rows of tabs. We should probably consider something other than tabs for displaying the list of items we have to view. Either that or we need to restrict the number of viewable items to something small.

[2013-04-08 02:29] patricktoohey commented on #11
Implemented wrapping on the headers.

[2013-04-08 15:51] kevinwinahradsky commented on #11
Looks nice

[2013-04-08 15:51] #11 closed, assigned to kevinwinahradsky

[2013-04-08 16:32] kevinwinahradsky commented on #13
This is ready and should be  a clean merge to master.

Looking for a couple others to verify this.

[2013-04-08 16:33] kevinwinahradsky commented on #13
This would be the devmerge branch https://github.com/480Oswego2013/CSC-HCI-480-2013-repo/tree/devmerge

[2013-04-08 16:55] kevinwinahradsky opened #17 "Confusion Matrix panel should scroll."
The confusion matrix panel needs a scroll view or some sort. Larger tables can overflow the current view.

[2013-04-08 17:13] patricktoohey commented on #13
Confirmed
1. Parsed Data Sets
2. Pop-outs
3. Generate Forest
4. Generate Secondary Forest

Issue
1. After generate forest, "Trees" button is non-functional
2. After generate second forest, "Trees" button is functional

[2013-04-08 17:14] patricktoohey commented on #13
should assign this to Ben next?

[2013-04-08 17:17] patricktoohey commented on #13
On a second pass...
1. After generate forest, "Trees" button is functional.
2. After display tree, "Generate Forest" button is non-functional???

[2013-04-08 17:21] kevinwinahradsky commented on #13
Yeah at this point the generate forest button only works once. This is intentional and has been that way for a while. Though if it makes no sense for it to work that way it can easily be changed.

[2013-04-08 17:23] kevinwinahradsky commented on #13
Is ben a contributor? I'm not sure which username is his if he is.

[2013-04-08 17:25] patricktoohey commented on #12
If we remove support we should provide some way of detecting unsupported browsers and displaying a notice that the associated browser is not supported. Still worth the effort?

[2013-04-09 02:27] mkhayes commented on #13
I have tested this branch out and it seems to work quite nicely. I say we merge this guy to main so we can finally move on...

[2013-04-09 03:06] patricktoohey commented on #7
I don't think this is what you were going for, but take a look; on devmerge

[2013-04-09 10:33] kevinwinahradsky commented on #7
No, I reverted it back. That wasn't quite working either.

[2013-04-09 19:30] patricktoohey commented on #13
Closed. Merge to master complete.

[2013-04-09 19:30] #13 closed, assigned to kevinwinahradsky

[2013-04-10 19:10] nonelement opened #18 "Licenses on Container Generated Files"
When building the project, licenses are not present on (presumably)generated files, and cause builds to fail unless inserted manually.

(/Web Pages/WEB-INF/glassfish-web.xml, for example, for my environment.)

[2013-04-10 19:25] kevinwinahradsky commented on #18
If this is a generated file it should be generated into the target directory. Do you know what generates it?

As far as I know, most people are using tomcat rather than glassfish so you shouldn't have any problems with that. Also if it contains nothing specific to your environment, like directory paths, then you can probably just commit it for other people who want to use glassfish.

[2013-04-10 23:49] #17 closed, assigned to kevinwinahradsky

[2013-04-10 23:52] kevinwinahradsky opened #19 "Trees Menu Location"
Would it make more sense for this to be located on the Confusion Matrix tab rather than on the data tab?

[2013-04-11 00:01] kevinwinahradsky opened #20 "ProgressBuilderTest Fails"
Running edu.oswego.csc480_hci521_2013.shared.h2o.urlbuilders.ProgressBuilderTest
Tests run: 3, Failures: 2, Errors: 0, Skipped: 0, Time elapsed: 0.052 sec <<< FAILURE!

Results :

Failed tests:   testProgressBuilderJobAndDestination(edu.oswego.csc480_hci521_2013.shared.h2o.urlbuilders.ProgressBuilderTest)
  testProgressBuilderHashArgs1(edu.oswego.csc480_hci521_2013.shared.h2o.urlbuilders.ProgressB

[2013-04-11 02:10] patricktoohey commented on #20
I think it would be helpful if you used junit's assertEquals in these tests. This will ensure we see both the expected and actual values in the output. I may just be missing it, but I do not see these output results (which are essential for troubleshooting the errors) in the build output.

[2013-04-11 02:50] patricktoohey commented on #19
I agree. I don't think the list box is of much user either. I would propose we add a textbox, where the user can enter a tree number, and a button to trigger viewing of the tree specified in the textbox. These new controls could be introduced next to the "Trees" label on the confusion matrix view.

[2013-04-11 04:27] nonelement commented on #18
I assume the file is generated by building and running with Glassfish, since it doesn't appear before then. I'd heard that at least one person was using Glassfish, so I decided to use that. Nothing more than a whim, really, and I'm not sure differences between containers are detrimental at this point.

There isn't anything specific to my environment in the file beyond a specific Glassfish version

[2013-04-11 10:13] kevinwinahradsky commented on #18
Yeah you might as well commit it.

[2013-04-11 10:24] kevinwinahradsky commented on #19
Yeah, I agree the menu is not very useful either. I was thinking the suggest box would be a good fit, http://gwt.googleusercontent.com/samples/Showcase/Showcase.html#!CwSuggestBox
Another possibility might be to adapt a pager style widget to handle this.

If it is added at the bottom of the panel in the trees section, it may not be that obvious that they exists. Would this be a ui issue or just a

[2013-04-11 11:03] kevinwinahradsky commented on #20
RFViewBuilderTest now fails as well!

Running edu.oswego.csc480_hci521_2013.shared.h2o.urlbuilders.RFViewBuilderTest
Tests run: 8, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.055 sec <<< FAILURE!

Results :

Failed tests:   testRFViewHashConstructor(edu.oswego.csc480_hci521_2013.shared.h2o.urlbuilders.RFViewBuilderTest)

[2013-04-11 11:38] patricktoohey commented on #19
A pager would work so long as it is effective with very large lists. If we have 1000 trees we need a control that can get us quickly from tree 1 to tree 1000. Also, using the bottom panel would be fine so long as we always display the first tree immediately after building the model.

[2013-04-11 11:43] cbchd commented on #20
I'm sure it's a problem with the tests, no worries Kevin. They pass on my end so I'm not sure what's up... I'll take a look today

-----Original Message-----
From: kevinwinahradsky notifications@github.com
To: 480Oswego2013/CSC-HCI-480-2013-repo CSC-HCI-480-2013-repo@noreply.github.com
Cc: cbchd cbchd@netscape.net
Sent: Thu, Apr 11, 2013 4:04 am
Subject: Re: [CSC-HCI-480-2013-repo] ProgressBuilder

[2013-04-14 18:19] 480Oswego2013 opened #21 "Team Test Stuff"
New Tasks
hey team this time we are working on the Presenter stuff
sorry the update took so long here is what we are to test

keep up the good work guys!

Presenter classes

ConfusionMatrixPresenter.java -

ConfusionMatrixPresenterImpl.java -

DataPanelPresenter.java -

DataPanelPresenterImpl.java -

DoublePanelPresenter.java -

RfParametersPresenter.java -

RfParametersPresenterImpl.java -

TabPa

[2013-04-15 12:08] kevinwinahradsky commented on #21
Since the json stuff are just data objects with no logic, they don't really need tests. Also note that for the most part they have no setters or usable constructors. The are generally created only through deserialization of json. So if you do test them they will need a bunch of code added to them.

Ideally we really need to get the presenters and activities tested, anything that has any sort of lo

[2013-04-15 12:09] kevinwinahradsky commented on #20
closing since this is now working

[2013-04-15 12:09] #20 closed, assigned to cbchd

[2013-04-15 21:40] kevinwinahradsky opened #22 "ImportUrlBuilderTest"
There is no test for passing null into the setKey() function. The code will fail this test as it will probably accept this and eventually throw an npe on a call to build. So the ImportUrl class should guard against null being passed into setKey().

[2013-04-15 21:48] kevinwinahradsky opened #23 "InspectBuilderTest"
When catching exceptions that are unexpected, you should call fail() to fail the test.

There should be some more tests for setView() and setOffset() make sure they are checking bounds correctly by passing in numbers outside of their acceptable range. When doing this the test should fail if the exception is not thrown and pass if it is thrown.

Tests should be added to make sure all methods and co

[2013-04-15 21:51] kevinwinahradsky opened #24 "ParseBuilderTest"
There should be tests for constructors and methods to make sure they guard against null arguments. They probably don't so the code in ParseBuilder should be updated to handle this.

[2013-04-15 21:53] kevinwinahradsky opened #25 "ProgressBuilderTest"
Add tests for passing in null arguments to constructors. Make sure the tested code handles this correctly, it probably dosn't so guards will need to be added to ProgressBuilder.

[2013-04-15 21:56] kevinwinahradsky opened #26 "RFViewBuilderTest"
Add tests for null arguments and for numeric arguments that are out of range. Most methods will probably fail so the code in RFViewBuilder will need to be updated to guard against bad arguments.

[2013-04-16 12:36] nonelement opened #27 "Make “Parsed Data Sets” button more visible, more button-like"
Two of three users made at least one error(failed interaction) in trying to open the data set, and as high as 6 errors. The title bar design was recognized as an accepted interface pattern, and at least one user commented that the button placement was what they would expect, given other interfaces they’ve encountered (familiarity).

Severity Rating: 2

[2013-04-16 12:37] agylardi opened #28 "Add suggestion for forest size"
Subjects did not understand the correlation between this parameter and the resulting forest size. This resulted in subjects trying arbitrary forest sizes, and consequently becoming overwhelmed by the confusion matrix size, as well as lost in the corresponding visualizations. Aside: adjust the error message to provide help with the task of selecting appropriate parameters, not necessarily helping t

[2013-04-16 12:37] agylardi opened #29 "Forest generation would fail to provide feedback during long operations (or errors)"
Subjects, on attempting to generate different forests would sometimes select parameters that resulted in long operations, and assume that the generation had somehow failed silently. Often, subjects became impatient and would attempt to generate again on slightly different values, or interrupt the page with a refresh, or clicking the cancel button to start from scratch.

Severity Rating: 5

[2013-04-16 12:38] agylardi opened #30 "Add iconography for easy interpretation of available tab actions"
All users were confused with the current representation of the pop-out button. One user expected the current representation to exhibit “close” behavior. Others quickly interpreted the action as pop-out, but expressed that they were confused as to how to reverse the action (pop-in). Two users expressed the desire to close tabs, but after searching for a bit, popping in, and out, and right clicking,

[2013-04-16 12:39] agylardi opened #31 "Include only descriptive text that is useful to users in tab titles"
All users had difficulty identifying non-data tabs(right hand pane) quickly. This problem became worse once more tabs were opened, but plateaued when the limit of visible tabs were reached (at which point one user was confused by the reordering of tabs, if popped out)

Severity Rating: 3

[2013-04-16 12:40] agylardi opened #32 "Ability to dismiss/close tabs"
Two users expressed that they wanted to close tabs, but found no way to do so. Without the ability to close tabs, the interface clutters quickly

Severity Rating: 4

[2013-04-16 12:42] #29 closed, assigned to nobody

[2013-04-16 12:43] patricktoohey opened #33 "RFScore API and URL builder"
Add api for new sample scoring

[2013-04-16 12:45] agylardi opened #34 "Layering tabs / scrolling tabs so that they don’t overflow the screen"
Once 2-3 tabs had been opened by users, navigating more than the most recent two tabs became impossible (depending on native resolution). One user creatively overcame this obstacle by zooming the interface, but this impacted the rest of the interface negatively

Severity Rating: 5

[2013-04-16 12:46] agylardi opened #35 "Horizontal scrolling, once matrix becomes too large"
Two users had difficulty navigating the confusion matrix horizontally if the generated matrix was too large. One user navigated the matrix with the arrow keys and selecting text because he perceived no other options

Severity Rating: 4

[2013-04-16 12:47] agylardi opened #36 "Display of parameters to show what settings were used in the forest generation"
Users were generally selecting parameters at random, and had difficulty remembering what parameters a previous forest was generated with for comparison. One subject generated two forests in order to compare differences between two confusion matrices

Severity Rating: 2

[2013-04-16 12:47] agylardi opened #37 "Formatting and labeling on Confusion Matrix"
Values generated for the confusion matrix for a forest can cause the table to stretch for some columns, but not others, which can make interpreting the table more difficult, visually. Additionally, when classification is done along some dimensions (cylinders, for example), only numerical values are present. Various forests were generated during testing, and only one subject commented on the lack o

[2013-04-16 12:50] agylardi opened #38 "Ease of identifying hierarchical information in visualization"
One task was to identify the root node of a tree, which two subjects completed successfully. Another user, who had generated a particularly large forest, spent 10 minutes looking for the root node before giving up. Horizontal stretching of the tree might make the hierarchy more obvious, or adjusting the color further -- the method by which the two other subjects reported they found the root node

[2013-04-16 12:50] agylardi opened #39 "Visualization controls were non-obvious, despite taking advantage of familiarity"
All subjects eventually discovered how to pan and/or zoom, but stumbled a bit at first. One subject attempted to identify the data within the tree at the default zoom level, by mousing over each node. One may surmise from this that they were not aware of the controls afforded to them

Severity Rating: 1

[2013-04-16 13:29] mkhayes commented on #14
Here is a problem with selecting variable weights: I don't believe there is an easy way with the H2O API to get all the possible values for a given classification variable.

[2013-04-16 13:45] mkhayes commented on #14
I think we will have to create a new H2O API endpoint so we can utilize H2O internals. Otherwise we will have to parse datasets to find the set of values for a classification variable. Unless I am missing something.

[2013-04-16 14:06] mkhayes commented on #14
Upon further investigation, I think that using the "Inspect" API call we can find the min and max values and just use an increment of 1. For columns of enum types we will have to find the corresponding string value somehow.

[2013-04-16 14:45] kevinwinahradsky commented on #33
I'll get this done asap.

[2013-04-16 15:15] kevinwinahradsky commented on #32
This is a duplicate of #5

[2013-04-16 15:17] kevinwinahradsky commented on #34
Duplicate of #16

[2013-04-16 15:22] agylardi commented on #32
Pardon me. I didn't see through the previous issues

[2013-04-16 15:22] #32 closed, assigned to nobody

[2013-04-16 15:24] agylardi commented on #34
Alright. I'll close this one too.

[2013-04-16 15:24] #34 closed, assigned to nobody

[2013-04-16 15:30] kevinwinahradsky commented on #35
This was mostly fixed in #17.  I do believe there may still be an issue with the bottom scroll bar not showing under some situations. I have not been able to consistently replicate it though and it almost always works fine for me. This is why the arrow keys will work for scrolling.

So we need some more info on when this is not seen by people.

[2013-04-16 16:21] kevinwinahradsky commented on #14
I'm not seeing how to get the enum values as well. Might need more hacks in the h2o api for this.

[2013-04-16 18:17] patricktoohey commented on #27
Add CSS to display a dropdown tick mark. Assign to Anthony for review and/or closure.

[2013-04-17 00:14] kevinwinahradsky commented on #27
This looks pretty good to me. I'm going to suggest putting the style in the global css and adding this to the other menus as well.

[2013-04-17 01:06] patricktoohey commented on #27
I added a new CSS file that I can access from UIBinder. I have also updated
the "Tree" button to use this style.

On Tue, Apr 16, 2013 at 8:14 PM, kevinwinahradsky
notifications@github.comwrote:

[2013-04-17 01:22] patricktoohey commented on #36
Confusion matrix view shows the index of the classification variable instead of the text value. Further, the text is inconsistent between the confusion matrix view and the request view. The request uses "Classification Variable" while the confusion matrix view uses "Response Variable". This is likely adding to confusion on this issue.

[2013-04-17 18:31] patricktoohey commented on #7
New revision available for review.

[2013-04-17 18:35] patricktoohey commented on #7
If this is acceptable, I suggest we also close Issue #30 and add a new issue requiring an equivalent pop-in button.

[2013-04-17 20:26] mkhayes commented on #15
This is a duplicate of #14 .

[2013-04-17 20:26] #15 closed, assigned to nobody

[2013-04-17 20:30] mkhayes commented on #14
Having discovered that we can get the column type for a classification variable, I think it would be a good idea to completely remove the option for users to select a classification variable that is not a valid type. Only enum and int types within a certain range are valid types. What do you guys think?

[2013-04-17 21:03] nonelement commented on #27
This looks great. The only thing I can think of to make this more obvious is a color change, perhaps ala how H2O's bar is represented, but I'd like to test it's current incarnation first.

[2013-04-17 21:04] #18 closed, assigned to nobody

[2013-04-17 21:08] nonelement commented on #35
This can be formed into a task for which we can test.

[2013-04-17 21:12] nonelement commented on #7
The arrow icon that is present in the current build works well, I think. We should discuss what is intuitive and feasible on "pop-in" functionality in class (where we can perhaps visually mark up the interface). In the mean time, I'll poll the others on what they think is a good course of action.

[2013-04-17 21:16] nonelement commented on #36
Added consistency may help improve clarity, as you're suggesting, @bahbah2e . Specifically, perhaps we can test for comprehension on each item included in the CF view. (For example, what's mtry?)

[2013-04-17 21:23] kevinwinahradsky commented on #7
looks good, closing

[2013-04-17 21:23] #7 closed, assigned to kevinwinahradsky

[2013-04-17 21:26] kevinwinahradsky commented on #14
I agree.

[2013-04-17 21:28] nonelement opened #40 "Error message during RF parameter selection"
The error message should be changed to indicate what the user has done wrong, and provide suggestions as to how to select a valid combination of options. Currently for a classification variable of "displacement (cc)", and a forest size of 6, this error message appears:

Incorrect input data: Regression is not supported: Response column must be an integer in the interval [2,254]

Perhaps the messag

[2013-04-18 00:41] kevinwinahradsky commented on #33
added in the RFScore url builder 1ce3ce8d1e92ca3e18bf01b23e7048a4359ed6a5

This just redirects to RFView Response in our current H2O. I will look into upgrading H2O to see if this is different in newer versions.

[2013-04-18 01:14] mkhayes commented on #14
I have run into a problem with this. I think it may be a bug with H2O. The Inspect.json API call appears to be returning incorrect values for the "type" attribute. As an example, parse the cars.csv data set. Then do an Inspect API call with offset of -1. You can see that the "cylinders" column has type "float" when I believe it should be "int." Also the "economy" column has type "int" when I belie

[2013-04-18 01:31] mkhayes commented on #14
This appears to be fixed in the latest H2O version from github but broken in the H2O jar with our project (Inspect returning the correct column type).

[2013-04-18 10:05] kevinwinahradsky commented on #14
This weekend I will be working on updating our H2O version.

[2013-04-18 10:07] kevinwinahradsky opened #41 "Update H2O"
Get synced up with the latest version,

[2013-04-18 18:49] patricktoohey commented on #5
I believe this is closed. Nick, please review; specifically take a look at close method in DoublePanelActivity.java.

[2013-04-20 19:27] kevinwinahradsky opened #42 "RF api changes"
gini is gone and is now replaced with stat_type.
strata and stratify are gone and replaced with sampling_strategy and strata_samples.

[2013-04-20 19:44] kevinwinahradsky commented on #41
addressed in commit 3d8ff2fe167d389e2a0ec5d31b70fbe5c15eece4

[2013-04-20 19:44] #41 closed, assigned to kevinwinahradsky

[2013-04-20 19:45] kevinwinahradsky commented on #33
this looks good so far

[2013-04-20 19:45] #33 closed, assigned to kevinwinahradsky

[2013-04-21 16:33] 480Oswego2013 commented on #22
just updated and pushed let me know if i need to re-fix

[2013-04-23 06:02] ibarnick commented on #5
Looks good. The close tab functionality seemed to have gotten lost in a recent merge commit but it's back now.

Marking as closed.

[2013-04-23 06:03] #5 closed, assigned to ibarnick

[2013-04-23 09:48] ibarnick commented on #30
Forgot to reference this item in my commit message (and don't feel like editing the repo history to correct this :p).

I tried experimenting with a few different ways of presenting the "pop-in" functionality to the user. In my recent commit (2869f34c78810b3483c5910d9023ebcda47943ed) I've shown one such solution, which adds an additional small bar with a pop-in button. See the following screenshot:

[2013-04-23 10:48] mkhayes commented on #14
I have pushed the code for class weights to the "rfparams" branch. A problem right now is that the columns with type "enum" will not work. For example, if you use the cars data set and use the "cylinder" column as classification variable it work well. However, if you choose "name" as classification variable, H2O will return an error.

[2013-04-23 12:04] nonelement commented on #30
This is a good. We can incorporate this into the tab actions task. We'll report how this performs.

[2013-04-23 12:32] cbchd commented on #40
`For 0xData. 0xData can choose the error messages & hViewO will display the appropriate ones.

[2013-04-23 12:37] #38 closed, assigned to phowden

[2013-04-23 12:40] cbchd commented on #36
Place parameters next to the confusion matrix

[2013-04-23 12:51] cbchd commented on #31
Put in Tab: Titles (keep light)
Put in Panel: Model key & data key

[2013-04-23 12:53] cbchd commented on #28
Nate is assigned

[2013-04-23 12:53] #27 closed, assigned to nobody

[2013-04-23 12:55] #23 closed

[2013-04-23 12:57] #16 closed, assigned to nobody

[2013-04-23 13:00] cbchd commented on #10
Nick looking into it

[2013-04-23 13:06] mkhayes commented on #3
Duplicate involving other issues. See #40, #28, #14.

[2013-04-23 13:06] #3 closed, assigned to patricktoohey

[2013-04-25 03:57] mkhayes commented on #14
I uploaded the new code for RF class weights parameter input. Need someone to verify it works so it can be merged into main. The code is on the "rfparams" branch. It can be verified that the class weights show enum values if you use, for instance, the iris data set. Be sure that you run our latest custom H2O fork.

I would like to close this issue (after merge) and put further "advanced options" p

[2013-04-26 03:50] selenechida opened #43 "add more detail to page title"
It would be helpful for the page titles to show more detail, such as what page you are on within 0xdata. Ex: Console <Meeting name> etc. This will be helpful when there are many tabs open.
Thanks!

[2013-04-26 04:39] selenechida opened #44 "RF results differ even though data set is identical"
The same data set with same default model settings produces dramatically different RF results. Data set used was from hacking airline data Meetup

1 node cluster:
25% of the data is skipped and the error is 0.0%

16 node cluster:
25% of the data is skipped and the error is 0.0%

3 node cluster:
2.8% data is skipped and the error is ~37%

3 node cluster - uploaded the same data set again:
25% of th

[2013-04-26 16:40] kgraham1 commented on #30
Users were able to pop out the confusion matrix and tree visualization but were confused when attempting to pop the windows back in. The lack of a pop-in button for these windows is what lead to the confusion. Users did not expect that by clicking the "X" on the window's title bar that it would pop the windows back in.

[2013-04-26 16:41] nonelement opened #45 "Out of Bounds Exception on RFParameter selection & Feedback"
When generating a forest using the build server, a selection of **"cylinders"** as the classification variable, **75** trees, and to ignore **"name"**, causes an out of bounds exception in the console that provides no feedback in the interface. We received this error several times for other combinations of variables as well.

[2013-04-26 16:54] nonelement commented on #28
Parameters in general proved to be a problem for two subjects this last round. Each user spent ~2 minutes trying various values for the parameters in order to generate a forest. How to avoid this problem is a tough question though, because we'd have to exclude parameters based on what the user is selecting, which would be based on preprocessing the data.

[2013-04-26 17:06] nonelement opened #46 ""Data" and "Visualization" labels as interaction objects"
One primary issue in opening a data set is that users are attempting to interact with the "Data" label, perceiving that as a starting point of sorts. Deemphasization of the Labels might correct this, coupled with drawing yet more attention to the "Parse Data" button.

[2013-04-28 19:55] kevinwinahradsky commented on #14
Looks good to me. Make sure to sync up with the latest trunk changes and don't forget to add the updated h2o.jar file to the repo

[2013-04-28 21:33] #42 closed, assigned to kevinwinahradsky

[2013-04-30 00:32] mkhayes commented on #45
I think this is either a problem with H2O or with the data set since I can reproduce the same error using the H2O web interface.

[2013-04-30 11:51] #14 closed, assigned to nobody

[2013-04-30 12:30] patricktoohey commented on #46
Will remove the labels to resolve this issue.

[2013-04-30 12:38] #39 closed, assigned to phowden

[2013-04-30 12:40] #35 closed, assigned to nobody

[2013-04-30 12:47] patricktoohey opened #47 "Add branding to home page"
Add hViewO branding to title bar to left of 'Data Sets' menu list.

[2013-04-30 12:53] patricktoohey opened #48 "Document process for extending the generate forest parameter set form"
We don't plan to implement any additional parameters for the generate forest form at this time. We will instead ensure that the process for adding new parameters is well documented.

[2013-04-30 12:56] patricktoohey opened #49 "Design Document"
First draft

[2013-04-30 12:57] patricktoohey opened #50 "User Evaluation Report"
Final report on user evaluation.

[2013-04-30 12:59] #46 closed, assigned to patricktoohey

[2013-05-01 17:10] eneil commented on #43
I think you may be looking at the wrong Git Hub section.  This is a student designed section for H20, you may be looking for https://github.com/0xdata/h2o.  That is the H20  Git Hub from 0xData.

[2013-05-01 17:28] ibarnick commented on #30
I applied the small fix required for the issue @kgraham1 pointed out.

I'm leaving the issue open in case anyone would like to review this, although it should be all set and ready to close.

[2013-05-01 21:04] selenechida commented on #43
You are right! Sorry about that.

[2013-05-01 21:04] #43 closed, assigned to eneil

[2013-05-01 21:05] selenechida commented on #44
Oops, wrong thread. sorry about that!

[2013-05-01 21:05] #44 closed, assigned to nobody

[2013-05-01 23:46] kevinwinahradsky commented on #30
Verified that it works, looks good to me.

[2013-05-02 06:55] #19 closed, assigned to adarwin

[2013-05-02 06:58] adarwin commented on #19
Note that I did not implement any other form of user input. If we still think that is necessary between now and the end of Spring 2013, we'll need to re-open this issue.

[2013-05-02 14:44] #31 closed

[2013-05-03 00:21] #30 closed, assigned to ibarnick

[2013-05-03 18:07] #22 closed, assigned to 480Oswego2013

[2013-05-03 18:46] 480Oswego2013 commented on #45
I'm not sure what to test exactly, when I loaded a data sheet I could not re-produce the error

[2013-05-04 18:33] nhoefer2 commented on #49
https://github.com/480Oswego2013/CSC-HCI-480-2013-repo/wiki/Design-docs
These were made using Acceleo plugin for eclipse.

[2013-05-06 17:08] #47 closed, assigned to patricktoohey

[2013-05-06 17:15] patricktoohey commented on #48
Added content to design doc wiki.

[2013-05-06 17:15] #48 closed, assigned to nobody

[2013-05-06 17:28] patricktoohey commented on #9
Menu bar is now used to host the "Trees" drop-down selection element. As it is now useful I believe this should be closed.

[2013-05-06 19:32] #37 closed, assigned to patricktoohey

[2013-05-06 20:32] patricktoohey opened #51 "Tree selection list runs off screen"
Given enough trees, the selection box on the confusion matrix tab runs off the screen. It should be limited in vertical size to stay within the bounds of the screen.

[2013-05-06 21:12] kevinwinahradsky commented on #9
This would only be the menu bar in the tabular data panel. Currently it only contains the "Generate Forest" button. When popped out, this button will not work correctly.  It could be fixed but the easiest solution would be to hide or disable it when the panel is popped out.

[2013-05-06 21:14] kevinwinahradsky commented on #9
Just tested this and actually the same can be said about the trees menu in the confusion matrix panel now as well.

[2013-05-07 07:40] #28 closed, assigned to mkhayes

[2013-05-07 12:19] #51 closed, assigned to patricktoohey

[2013-05-07 21:39] 480Oswego2013 opened #52 "Deployment Document"
hey guys leave your comments on the document here and I will get to them

[2013-05-07 22:05] kevinwinahradsky commented on #52
Do we want to mention editors in the deployment doc or would this be better served as part of the build doc? or do we want to merge build and deployment instructions?

Maybe we should just say the war needs to be deployed to a servlet container and make the assumption that someone knows how to do this? Maybe just link to a few popular servlet containers and their instructions on how to deploy a wa

[2013-05-08 00:35] agylardi commented on #52
I am still not sure about this deployment document. I assumed the deployment instruction is also for new user who want to try hViewO. So that is why I suggested it to be more new-user friendly (with clearer instruction than current version). But if it is for developer, I think we can go with more abstract instruction.

But I think we can still give explanation on how to build and run it by using N

[2013-05-09 03:00] #36 closed, assigned to phowden

[2013-05-09 20:06] mkhayes commented on #45
You can now select ignore "name" and other columns without problems. I found that selecting "power" as classification variable causes the program to freeze, possibly due to the size of the confusion matrix generated.

[2013-05-09 20:07] #45 closed, assigned to 480Oswego2013

[2013-05-09 20:08] 480Oswego2013 commented on #52
@kevinwinahradsky question how would you import a file into our application?

@agylardi  how should i make it more abstract how would how can i explain more on net beans

[2013-05-09 20:10] #24 closed

[2013-05-09 20:55] 480Oswego2013 commented on #52
hey guys please look at the deployment again

[2013-05-09 20:57] 480Oswego2013 opened #53 "Test Document"
The build doc should just include a summery of all the test we made and how they work. feel free to make your own summery and submitt them on the wiki

[2013-05-09 21:24] kevinwinahradsky commented on #53
Honestly, I think this would be better to just have the generated javadocs for. Make sure each test is well documented in the code and just generate the javadocs for all the tests.

[2013-05-09 21:26] 480Oswego2013 commented on #53
not a bad idea- though im no pro at making java docs, any tips on where i should look or how to make them?

[2013-05-09 21:39] kevinwinahradsky commented on #53
mvn site && firefox target/site/testapidocs/index.html

[2013-05-09 21:41] kevinwinahradsky commented on #53
Since a home page is being created for this app, the entire contents of target/site could be uploaded and made public there.

[2013-05-09 21:44] 480Oswego2013 commented on #53
the web page is not that ellaborate. its simply a couple of links, to github,to the wiki, and one to the webpage

[2013-05-09 21:53] kevinwinahradsky commented on #53
right, when you run "mvn site" it basically generates a website for your app. some of it has already been customized, but a few more tweaks and you pretty much have what is needed.

[2013-05-09 21:55] kevinwinahradsky commented on #53
just fire up target/site/index.html and you will see what i am talking about

[2013-05-09 22:08] 480Oswego2013 commented on #53
how do i do that in netbeans? or terminal
should i install maven on my machine?
do i need maven 3?

[2013-05-09 22:11] kevinwinahradsky commented on #53
run it from the terminal.

[2013-05-09 22:13] 480Oswego2013 commented on #53
i think im getting close i got a website that looks like java7 api

[2013-05-09 22:17] kevinwinahradsky commented on #53
try going up a directory to target/site/index.html and you will see the full site with reports and everything.

[2013-05-09 22:25] agylardi commented on #52
Current version is abstract already. Not detail. I think it will be hard for new user to follow it. But again, for whom this deployment document ? "next" developer or potential user that interested in using hViewO ? Current version is more for developers I think.

I also think the line: "a csv file of your choosing ( comma separated value file)" can be explained more as "datasets to be analyzed us

[2013-05-09 22:37] kevinwinahradsky commented on #52
In my opinion this document should be targeting the user who wants to install and run this. I also think it should be safe to assume they know how to use H20 already and have some technical skills. So while they may not be a developer they should not need detailed instructions on how to run and configure all the applications involved. Just what they need to do for our application. The instructions

[2013-05-09 23:30] eneil commented on #52
I think Kevin nailed it perfectly, I don't think some person who has no
background knowledge of the material will be downloading this and running
this,  I imagine the user base that would use this would already have some
prior knowledge of the material.

On Thu, May 9, 2013 at 6:37 PM, kevinwinahradsky
notifications@github.comwrote:

[2013-05-10 02:04] agylardi commented on #52
Alright so basically user who knows H2O already (and also about random forest and statistical program), and have some technical skills.

It just, I think it is not really safe to assume user also know what we know. Also, I think not every user favor command line. I am still suggest there is default instruction which oriented to command line, and the one whoe take one of IDE as example. I think wit

[2013-05-10 02:26] 480Oswego2013 commented on #52
I do not how to do command line so if you guys could. I thought a ide would
be easier to keep track of the project.
On May 9, 2013 10:04 PM, "Agyl Rahmadi" notifications@github.com wrote:

[2013-05-10 14:23] patricktoohey commented on #52
I'm gonna put together a video covering the deployment process. I think
this will lower the bar for the actual documentation.

On Thu, May 9, 2013 at 10:26 PM, 480Oswego2013 notifications@github.comwrote:

[2013-05-11 00:39] #25 closed, assigned to cbchd

[2013-05-11 04:11] patricktoohey commented on #52
A link to the demo video is available in the deployment doc. I'll do another spin if anyone has comments.

[2013-05-11 20:08] kevinwinahradsky commented on #52
Nice video.

[2013-05-11 20:40] kevinwinahradsky commented on #52
I view the deployment doc as being something like this....

# Build and Deployment Instructions

## Dependencies
- A [git](http://git-scm.com/) client for accessing our source code.
- [Maven 3](http://maven.apache.org/) is our build tool.
- A [servlet container](http://en.wikipedia.org/wiki/Web_container) for running our app in.
- A running instance of [our H2O fork](https://github.com/480Oswego20

[2013-05-11 23:50] patricktoohey commented on #52
Looks good to me.

On Sat, May 11, 2013 at 4:40 PM, kevinwinahradsky
notifications@github.comwrote:

[2013-05-12 03:42] patricktoohey commented on #49
I am happy with the current implementation. Please comment on any additional needs.

[2013-05-12 14:34] kevinwinahradsky commented on #49
Looks good enough to me at this point I think. Not sure if anyone else has any new sections or some tweaks they want to add though.

[2013-05-12 23:26] adarwin commented on #49
I think the document would flow a little better if the class and package diagrams were embedded before the "Future Enhancement Opportunities" section, instead of linked at the end of the document. If it turns out that embedding the diagrams makes them illegibly small, then leaving them as links is fine.

Other than that, I think the document is good as is.

[2013-05-13 07:47] agylardi commented on #52
Yeah. Looks good. With the video it also minimize the confusion for user. I think we can go with this.

[2013-05-13 12:26] kevinwinahradsky commented on #49
Move the images up and inlined them, and kept the links as well. I think their legibility is going to depend on someones monitor size.

[2013-05-13 12:41] kevinwinahradsky commented on #52
Ok, I have pushed that to the wiki. It can always be changed back if more people decide they dont like it.

[2013-05-13 13:42] kevinwinahradsky opened #54 "Project home page"
This is what we have now

http://cs.oswego.edu/~jwhite8/csc480/

Any last minute thoughts on how to make that a little nicer? I personally wouldn't mind just seeing the maven generated site thrown up there.

[2013-05-13 14:03] adarwin commented on #52
We're definitely getting somewhere with this document. How would people feel about the "Building the app" section looking like this?

## Building the app.

On the command line, navigate to wherever you want to store the clone of [our repository](https://github.com/480Oswego2013/CSC-HCI-480-2013-repo). Then download and build hViewO by executing the following commands:

[code]

[2013-05-13 14:07] adarwin commented on #49
Excellent. Looks good to me now. :-)

[2013-05-13 14:11] kevinwinahradsky commented on #52
Works for me

[2013-05-13 15:22] patricktoohey commented on #52
After 'mvm package', how would you launch in hosted mode?? That should be
included if we are going to detail a command line process.

On Mon, May 13, 2013 at 10:11 AM, kevinwinahradsky <notifications@github.com

[2013-05-13 15:35] kevinwinahradsky commented on #52
I don't think anyone should be launching it in hosted mode unless they are actively developing/debugging the application, anyone else should be running the application in a real servlet container. The section after that that basically says to read the documentation for your chosen servlet container is basically the punt for how to do that.

That being said, to easily run it in tomcat you can do "m

[2013-05-13 15:42] patricktoohey commented on #52
Adding 'mvn tomcat7:run' is basically what I was looking for.

On Mon, May 13, 2013 at 11:35 AM, kevinwinahradsky <notifications@github.com

[2013-05-13 15:45] patricktoohey commented on #49
I vote 'Closed'

[2013-05-13 15:51] kevinwinahradsky commented on #52
Ok I added that as a quick start instruction under the deploy the war section.

[2013-05-13 15:53] kevinwinahradsky commented on #52
Actually moved it down to the next section, makes more sense there I think.

[2013-05-13 15:54] kevinwinahradsky commented on #49
If no more comments by 5 then I think we are in good shape to close this as well

[2013-05-13 15:54] patricktoohey commented on #52
That works. I figure first time through, a potential user will want to just
get it up and running. After, it certainly makes sense to formally host it
directly.

On Mon, May 13, 2013 at 11:51 AM, kevinwinahradsky <notifications@github.com

[2013-05-13 16:04] eneil commented on #49
Yeah this looks excellent, very well done.

On Mon, May 13, 2013 at 11:54 AM, kevinwinahradsky <notifications@github.com

[2013-05-13 16:35] patricktoohey commented on #54
At the very least, we need a link to the github site from a class related
oswego.edu address.

In general, I agree that the existing implementation is insufficient.
However, unless we are going to host H2O somewhere as well, I don't think
included the actual application is worthwhile.

On Mon, May 13, 2013 at 9:42 AM, kevinwinahradsky
notifications@github.comwrote:

[2013-05-13 16:39] adarwin commented on #52
Yes, I figured the information about where to find the .war file should be in the deployment section, rather than the build section. I was thinking something like this:

## Deploy the war file.

**NOTE: The deployment process can vary quite a bit from one servlet container to another. Consequently, detailed instructions for doing this are beyond the scope of this document.**

After building hViewO

[2013-05-13 16:40] #10 closed, assigned to ibarnick

[2013-05-13 16:51] 480Oswego2013 commented on #54
ill work on this web page some more and see if i can't get it looking a little better

[2013-05-13 16:54] patricktoohey commented on #54
I think you'd want to include the basics from the google site; {school
logo, class name, semester, project name, github link}.

On Mon, May 13, 2013 at 12:51 PM, 480Oswego2013 notifications@github.comwrote:

[2013-05-13 16:56] 480Oswego2013 commented on #54
thanks! check again around 3 and see what you think.

[2013-05-13 17:01] adarwin commented on #54
I think the maven generated site is probably a good fallback, if we decide we don't like what we have at 3:00
That said, I tried running `mvn site` but it never produced the full website. index.html was missing, for starters.

[2013-05-13 17:02] adarwin commented on #49
I vote we give it 'til 3:00, in case anyone else has input. Then we'll close it.

[2013-05-13 17:05] 480Oswego2013 commented on #54
how is the maven site created? is it a terminal command or a netbeans thing?

[2013-05-13 17:28] 480Oswego2013 commented on #54
sounds like a plan

[2013-05-13 17:28] adarwin commented on #54
Terminal, I believe

[2013-05-13 17:28] patricktoohey commented on #54
navigate to the CSC-HCI-480-2013-repo folder in the git checkout. execute
'mvn site' from the console.

On Mon, May 13, 2013 at 1:05 PM, 480Oswego2013 notifications@github.comwrote:

[2013-05-13 17:33] Fernum commented on #26
just looked into the RFViewBuilder and it looks like those cases are being tested for.

[2013-05-13 17:33] #26 closed, assigned to cbchd

[2013-05-13 17:37] 480Oswego2013 commented on #54
is that inside netbeans or just on the git site? I’m on the site but it did not pop out to me.

[2013-05-13 17:41] adarwin commented on #52
And I'm thinking the 'run' section should look something like this. I'm not yet familiar with Tomcat deployment, so I'm sure the information on Tomcat needs review.

## Run the app.

### Start H2O (If you haven't already)

Start our custom fork of H2O by executing

`java -jar h2o-fork/h2o.jar`

Now navigate to [http://localhost:54321](http://localhost:54321) and follow the instructions at https://

[2013-05-13 17:46] patricktoohey commented on #54
Maven is included with netbeans; on windows, for example, located in
"NetBeans 7.3\java\maven". Can also be downloaded independently. I just
built the site locally. If we use it, I would say, update the 'About' page
to include general summary and github reference and 'Project' summary page
to point to github reference instead of google site (which is locked down).

On Mon, May 13, 2013 at 1:37 PM,

[2013-05-13 17:49] 480Oswego2013 commented on #54
ill give it a shot my webpage skills are not top notch. it would be acceptable at best
im in the maven dir but still just a little confused on how this site is built

[2013-05-13 18:01] patricktoohey commented on #54
just worry about adding content within the existing structure. Can pull
content from the google site if it helps.

On Mon, May 13, 2013 at 1:49 PM, 480Oswego2013 notifications@github.comwrote:

[2013-05-13 18:33] 480Oswego2013 commented on #54
how can i update to maven 3 i can almost build the site, then adding content should not be complicated.

[2013-05-13 18:34] kgraham1 commented on #9
This was an issue we ran into while testing it on Thursday night. When both window panes were popped out the buttons did not work. The buttons also did not function after the windows were popped back in.

[2013-05-13 18:41] patricktoohey commented on #54
http://maven.apache.org/download.cgi

[2013-05-13 18:43] 480Oswego2013 commented on #54
i downloaded it but cant seem to install it. i followed the direction in the readme maybe to literaly

[2013-05-13 18:45] agylardi commented on #52
Hmm. I think it's good more detailed instruction added to the wiki. Could cover more type of user -especially the one who prefer just reading the instruction instead of watching the video.

[2013-05-13 18:50] patricktoohey commented on #54
I've placed my output here...
https://dl.dropboxusercontent.com/u/34547970/site.zip

Grab it and take a look. Edit where relevant and let us know if you get
stuck.

On Mon, May 13, 2013 at 2:43 PM, 480Oswego2013 notifications@github.comwrote:

[2013-05-13 18:52] 480Oswego2013 commented on #54
thank you!

[2013-05-13 19:52] #12 closed, assigned to kevinwinahradsky

[2013-05-13 19:55] 480Oswego2013 commented on #54
sorry for the wait here is then new model
http://moxie.oswego.edu/~jwhite8/hViewO/

the only thing i am having trouble with is in the Project report section Javadoc and TestJavaDoc but ill make those and put them in manually in a sec

[2013-05-13 19:57] patricktoohey commented on #54
Doesn't look quite right. Not sure why

On Mon, May 13, 2013 at 3:55 PM, 480Oswego2013 notifications@github.comwrote:

[2013-05-13 20:01] 480Oswego2013 commented on #54
it is very blank, i could put the school logo on the front page to make it look a little better.

[2013-05-13 20:02] adarwin commented on #54
The original seems to look fine on moxie. I'm guessing you broke something when you modified the site.

http://moxie.oswego.edu/~darwin

[2013-05-13 20:06] kevinwinahradsky commented on #54
Have you guys updated your git workspace? I tweaked the maven stuff this morning but I do not see the updates in the generated site.

[2013-05-13 20:09] kevinwinahradsky commented on #54
http://moxie.oswego.edu/~winahrad/hViewO/

to download it http://moxie.oswego.edu/~winahrad/site.tgz

[2013-05-13 20:10] kevinwinahradsky commented on #49
closing!

[2013-05-13 20:10] #49 closed, assigned to nhoefer2

[2013-05-13 20:10] patricktoohey commented on #54
That is what my original looked like. Not sure what was broken.

On Mon, May 13, 2013 at 4:09 PM, kevinwinahradsky
notifications@github.comwrote:

[2013-05-13 20:12] 480Oswego2013 commented on #54
that looks way better, i must have broken something in index.html without knowing
i vote this the official page since, i boke mine some how....Thanks Kevin!!!

[2013-05-13 20:14] nonelement commented on #54
@480Oswego2013  -- If you want a hand looking over the project site, I'm not bad with web stuff. It looks like the majority of what we're dealing with here is auto-generated?

[2013-05-13 20:16] 480Oswego2013 commented on #54
yes. maven built the site, I some how killed mine, but then again i never had maven 3 so i had no real idea what it looked like. the plan might be to just use kevins if that's legit with him. it would be easier to update anyway. kevin did you chmod your files so they could be edited?

[2013-05-13 20:21] kevinwinahradsky commented on #54
sure, if we want to change some of the text we can just update the pom file and regenerate.

[2013-05-13 20:24] nonelement commented on #50
Document converted to wiki, updated, and reviewed. Unless others have any outstanding points, we're finished.

[2013-05-13 20:24] #50 closed, assigned to nobody

[2013-05-13 20:25] adarwin commented on #52
I'm having trouble getting `mvn tomcat7:run` to work. Either I'm doing something wrong, or we should consider removing it from the "Run the app." instructions.

[2013-05-13 20:27] 480Oswego2013 commented on #54
ha, way smarter then what i was thinking, i should have learned maven. but that were i am hung up, i cant use the mvn site command on our project because of my version of netbeans. its not EE so it only has 2.2.1 maven on it, and i suck at updating versions

[2013-05-13 20:28] adarwin commented on #54
I definitely pulled this morning, but it must have been before Kevin made changes. My bad.

Either way, Kevin seems to be on top of this one. I say, just make a few minor tweaks as necessary and we'll call it good.

[2013-05-13 20:29] adarwin commented on #54
Oh, wait. Not my bad. I uploaded Patrick's version. :P

[2013-05-13 20:30] 480Oswego2013 commented on #54
i'm with drew on this one. sorry to put more on you kevin.

i Think we should take patrics earier suggestion and throw the school logo on the page along with a thing about developers, i can do this part if you want.

[2013-05-13 20:30] patricktoohey commented on #54
Ran the maven site again; much larger now. If needed here is a link to the
contents... https://dl.dropboxusercontent.com/u/34547970/site_4PM.zip

On Mon, May 13, 2013 at 4:29 PM, Andrew Darwin notifications@github.comwrote:

[2013-05-13 20:32] kevinwinahradsky commented on #52
what is the problem?

[2013-05-13 20:32] adarwin commented on #54
Where do we ultimately want to host the site?

[2013-05-13 20:34] 480Oswego2013 commented on #54
i'm not sure as long as its on moxie i don’t think dl really cares.

[2013-05-13 20:35] adarwin commented on #54
If that's the case, maybe it comes down to a battle of who has the best name. ;)

[2013-05-13 20:37] patricktoohey commented on #54
can we count on individual moxie accounts persisting infinitely? or do they go away after graduation or some other time limit expires?

[2013-05-13 20:38] 480Oswego2013 commented on #54
most times they are not deleted, though that might change in the near future. i guess this is a dl question honestly

[2013-05-13 20:38] adarwin commented on #54
As I understand it, individual moxie accounts persist for a couple years by default, but can receive special permission to remain longer if need be.

[2013-05-13 20:40] 480Oswego2013 commented on #54
so it really does come down to the best name, if only one of us had the last name HviewO

[2013-05-13 20:43] #21 closed, assigned to nobody

[2013-05-13 20:44] adarwin commented on #52
I figured out what went wrong. When I ran `mvn tomcat7:run`, I already had an instance of Tomcat running. I'll note that in the document for future information.

[2013-05-13 20:48] agylardi commented on #52
Anyone wanted to add more on deployment document ? I think it's already good.

[2013-05-13 20:54] patricktoohey commented on #52
Looks good to me. I vote "Closed"

[2013-05-13 20:54] 480Oswego2013 commented on #52
I think its good as well ill close it down

[2013-05-13 20:54] #52 closed, assigned to nobody

[2013-05-13 20:55] adarwin commented on #52
I think I'm done with it, so go ahead and close it.

[2013-05-13 20:57] 480Oswego2013 commented on #53
i am not sure we need this page any more since the web page has this included in it already. Ill close it at the end of the day if no one has any objections.

[2013-05-13 21:02] patricktoohey commented on #53
provided maven site includes javadocs and test coverage report, so I think
I agree that this is redundant.

On Mon, May 13, 2013 at 4:57 PM, 480Oswego2013 notifications@github.comwrote:

[2013-05-13 21:03] #53 closed, assigned to nobody

[2013-05-13 21:19] 480Oswego2013 commented on #54
@nonelement i was wondering how i could put the suny oswego logo on the webpage to so that it would not take up the top left corner but have a h1 and image tags right next to each other.

[2013-05-13 21:41] 480Oswego2013 commented on #54
improved a little

http://moxie.oswego.edu/~jwhite8/csc480/project-info.html

[2013-05-13 21:42] nonelement commented on #54
@480Oswego2013 You're probably looking to apply a CSS rule that says "display: inline-block;" for all desired elements.

[2013-05-13 21:44] 480Oswego2013 commented on #54
oh really, did not know that, I barely touch css. i will look deeper into how a inline block and display work

[2013-05-13 21:45] adarwin commented on #54
If all else fails, maybe this can be our plan B?

http://moxie.oswego.edu/~darwin/hViewO

[2013-05-13 21:47] nonelement commented on #54
@480Oswego2013 Images have "display: block" by default, but this causes the element to take up 100% width on the page (like headers, divs, whatever), while inline flows (like text). With "display: inline-block", the element will flow with other content, but retain it's shape and not collapse (think div vs span behavior). If this helps.

[2013-05-13 21:51] 480Oswego2013 commented on #54
Grave the mail list from mine and make it plan a
On May 13, 2013 5:47 PM, "Andrew Darwin" notifications@github.com wrote:

[2013-05-13 22:53] adarwin commented on #54
Done: http://moxie.oswego.edu/~darwin/hViewO/mail-lists.html

[2013-05-13 22:57] kevinwinahradsky commented on #54
Would that be better placed under the "Project Team" link?

[2013-05-13 23:38] adarwin commented on #54
How's this? http://moxie.oswego.edu/~darwin/hViewO/team-list.html

[2013-05-13 23:52] kevinwinahradsky commented on #54
looks good

[2013-05-14 00:03] adarwin commented on #54
Changed most of the links to open in new tabs.

Anyone think of anything else I should add to the site?

[2015-08-11 17:16] #40 closed, assigned to nobody